section,li,img{
  animation: subir 2s ease-in-out forwards;
}
@keyframes subir {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.u-section-1 .u-sheet-1 {
  min-height: 146px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  width: 852px;
  margin: 29px auto 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3.125rem;
    margin-top: 19px;
    margin-bottom: 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 519px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 19px 0 0 6px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 15px 63px 17px 62px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-2 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-2 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/5137cc04-2d35-4a19-84fe-36a2159ae73f.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 424px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 580px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-3 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/2105baac-2a40-422b-b618-be5a6618aa19.jpg");
  background-position: 50% 19.23%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0;
  padding: 15px 63px 17px 62px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 422px;
    height: 422px;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 519px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 19px 0 0 6px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 15px 63px 17px 62px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-4 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-4 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/5e424d22-62e0-439c-a10a-fc09eb14b60a.jpg");
  background-position: 50% 61.29%;
  background-size: cover;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 424px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 580px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-5 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-5 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/4cae5f3d-536b-4b44-b1c8-ebe9032df431.jpg");
  background-position: 50% 16.15%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0;
  padding: 15px 63px 17px 62px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-5 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 435px;
    order: 1;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    width: 422px;
    height: 422px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-5 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 519px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 19px 0 0 6px;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 15px 63px 17px 62px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-6 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/8495dc90-9362-441b-ae9f-d7418d304e83.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-6 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-6 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 424px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 580px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-7 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-7 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/99ca83d1-8580-406b-bc7e-a6b043afa815.jpg");
  background-position: 50% 58.21%;
  background-size: cover;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0;
  padding: 15px 63px 17px 62px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-7 .u-image-1 {
    background-position: 50% 50%;
    width: 410px;
    height: 410px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 435px;
    order: 1;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 519px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 19px 0 0 6px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 15px 63px 17px 62px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-8 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-8 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/happy-kids-elementary-school.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-8 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-8 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 424px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 580px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-9 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-9 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/03b7803b-d825-4452-b370-d453a5d7cc05.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 80px auto 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 21px auto 0;
  padding: 15px 63px 17px 62px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-9 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-9 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 435px;
    order: 1;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    width: 422px;
    height: 422px;
  }

  .u-section-9 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-9 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 519px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 19px 0 0 6px;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 19px auto 0;
  padding: 15px 63px 17px 62px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-10 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-10 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/happy-kids-elementary-school.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-10 .u-image-1 {
    width: 410px;
    height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-10 .u-image-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    width: 424px;
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-10 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}